
html, body, main {
  height: 100%;
}

body main {  
  align-items: center;
  display: flex;
  justify-content: center;
}

main div {
  display: flex;
  justify-content: center;
}

.controls-area {
  flex-grow: 1;
}

.canvas-area {
  flex-grow: 2;
}
