
html, body, main {
  height: 100%;
}

body main {  
  align-items: center;
  display: flex;
  justify-content: center;
}

main div {
  display: flex;
}

.controls-area {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-left: 2em;
}

.controls-area select, .controls-area button {
  width: 50%;
}

.canvas-area {
  flex-grow: 1;
}
