
html, body, main {
  height: 100%;
}

body main {  
  align-items: center;
  display: flex;
  justify-content: center;
}

main div {
  display: flex;
}

.controls-area {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-left: 2em;
}

.controls-area select, .controls-area button, .controls-area p {
  width: 50%;
}

.controls-area p {
  max-width: 18em;
}

.canvas-area {
  flex-grow: 1;
}

#ff8 { 
  display: none
}

#main-canvas, #ff8 {
  width: 800px;
  height: 600px;
}

@media (max-width: 1000px) {
  #main-canvas, #ff8 {
    width: 600px;
    height: 450px;
  } 
}

@media (max-width: 800px) {
  #main-canvas, #ff8 {
    width: 400px;
    height: 300px;
  }
  
  main {
    flex-direction: column;
  }

  .controls-area {
    justify-content: center;
  }

  .controls-area label, select {
    display: none;
  }

  .controls-area button {
    width: 100%;
  }
}

@media (max-width: 600px) {
  #main-canvas, #ff8 {
    width: 300px;
    height: 225px;
  }
}
